{% extends "base.html" %}
{% load i18n %}

{% block title %}
  INDEX
{% endblock title %}

{% block content %}

<body class="font-sans bg-gray-800 text-white">

  <!-- Main Content -->
  <div class="container mx-auto mt-8">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
          <!-- Blog Posts Loop -->
          {% for post in articles  %}
          <div class="bg-gray-900 p-6 rounded-lg shadow-md">
              <img src="{{post.image.url}}" alt="{{post.title}}" class="mb-4 rounded-lg">
              <h2 class="text-xl text-white font-bold mb-2">{{post.title}}</h2>
              <p class="text-gray-500">{{post.snippet|truncatechars:50}}</p>
              <a href="{{post.get_absolute_url}}" class="text-blue-500 mt-2 inline-block">Read more</a>
              <div class="flex">
                  {% for tag in post.tags.all %}
                  <a href="{% url 'blog:tagged' tag.slug %}"
                      class="mr-1 inline-block px-2 py-1 text-sm font-semibold leading-none text-white bg-blue-500 rounded-full">#{{ tag }}</a>
                  {% endfor %}
              </div>
              <div class="flex justify-between pt-4">
                  <span class="text-white">{{post.tag}}</span>
                  <span class="text-white">{{ post.publish.date }}</span>
              </div>
              <hr>
              <div class="flex justify-between pt-4">
                  <span>{{post.total_likes}}</span>
                  <span class="text-white">{{post.author}}</span>
              </div>
          </div>
          {% endfor %}
      </div>
  </div>

</body>
  
{% endblock %}