{% load static %}
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"> </script> 
<!-- <link href= 
"https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" 
          rel="stylesheet" /> 
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"> </script> 
    <script src= 
"https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js">  -->